@font-face {
    font-family: 'reg';
    src: url("../fonts/PPMori-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'lig';
    src: url("../fonts/PPMori-Extralight.woff2") format("woff2");
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    font-family: reg;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #0e100f;
    overflow: none;
}

::-webkit-scrollbar {
    display: none;
}


/* LOADER */

.loader {
    background-color: #0e100f;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000000000000000;
    transition: all ease-in-out .8s;
    padding: .8vw;
}

.loader .load-cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: .1vh solid rgba(255, 255, 255, 0.212); */
    border-radius: .6vw;
}

.loader .load-cont .circle {
    width: .8vw;
    height: .8vw;
    border-radius: 50%;
    background: linear-gradient(360deg, #FFF59D, #FFEB3B, #FFC107);
}

.loader .load-cont span {
    width: 100%;
    height: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3vw;
    font-weight: 900;
    margin-left: .4vw;
}


/* BACKGROUND IMAGE */

.bg-img {
    width: 100%;
    height: 100%;
    position: fixed;
}

.bg-img .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: grayscale(100%) brightness(50%) contrast(115%);
}

.bg-img .overlay-blur {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #0e100fa1;
    top: 0;
}

::selection {
    color: #FECD04;
}


/* SCROLLBAR */
/* ::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar {
    width: 0.4vw;
    display: block;
    cursor: pointer;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(360deg, #FFF59D, #FFEB3B, #FFC107);
    border-radius: 1vw;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(360deg, #FFF59D, #FFEB3B, #FFC107);
    cursor: pointer;
} */



/* CURSOR */
.cursor {
    width: .5vw;
    height: .5vw;
    background-color: #FECD04;
    border-radius: 50%;
    position: fixed;
    /* mix-blend-mode: difference; */
    background: linear-gradient(180deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    z-index: 9999;
}



/* BACK TO TOP */
.back-to-up {
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 50%;
    background-color: #FECD04;
    background: linear-gradient(180deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    position: fixed;
    bottom: 1vw;
    right: 1vw;
    cursor: pointer;
    text-align: center;
    border: .1vh solid rgba(255, 255, 255, 0.493);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-self: center;

}

.back-to-up .cont {
    width: 1.8vw;
    height: 1.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    overflow: hidden;
    padding-left: .3vw;
    border-radius: 50%;
}

.back-to-up .cont img {
    width: 100%;
    height: 100%;
    width: 1.3vw;
    height: 1.3vw;
    rotate: -45deg;
    object-fit: contain;
    object-position: center;
    transition: all 0.4s ease;

}

.back-to-up:hover .cont .i1 {
    margin-top: -1.8vw;
}

.back-to-up .cont .i1 {
    margin-top: 1.7vw;
}

.back-to-up .cont .i2 {
    margin-top: .4vw;
}


/* NAVIGATION */

header {
    width: 100%;
    height: auto;
}

nav {
    width: 60vw;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 3vw;
    font-size: 0.9vw;
    position: fixed;
    z-index: 9999;
    font-family: lig;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.11);
    border: 0.1vh solid rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(.2vw);
    border-radius: .6vw;
    right: 19%;
    top: 1vw;
    background-color: #0e100f;
}

nav a {
    height: 1.9vh;
    overflow: hidden;
    position: relative;
}

nav a:hover h5 {
    margin-top: -2vh;
}

nav h5 {
    font-size: 0.9vw;
    position: relative;
    transition: all 0.3s ease;
}

nav h6 {
    font-size: 0.9vw;
    position: relative;
    background: linear-gradient(-130deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav .brandname {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav .brandname .name a span {
    background: linear-gradient(-130deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.3vw;
}

nav h4 {
    font-size: 0.9vw;
    position: relative;
    transition: all 0.3s ease;
}

nav h3 {
    font-size: 0.9vw;
    position: relative;
    background: linear-gradient(-130deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-ops {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.5vw;
}

.nav-btn {
    display: flex;
    gap: 0.6vw;
}

.nav-btn .letstalk {
    height: 3vh;
}

.nav-btn .letstalk h5 {
    font-size: 1.6vw;
    background: linear-gradient(-130deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-btn .letstalk:hover h5 {
    margin-top: -1.8vw;
}

.nav-btn .letstalk h6 {
    font-size: 1.6vw;
    background: linear-gradient(-130deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-ops a::before {
    content: "";
    width: 100%;
    height: 0.1vh;
    position: absolute;
    bottom: -0.08vh;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s 0.1s ease;
}

.nav-ops a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}



/* MAIN */
main {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
}


/* HERO SECTION */
.hero-sec {
    width: 100%;
    height: 110vh;
    position: relative;
}

.hero-sec .hero-cont {
    width: 100%;
    height: 100%;
    padding: 13vw 0 4vw 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.hero-sec .mid {
    margin: 1.6vw 0;
}

.hero-sec .mid h1 {
    font-size: 5vw;
    /* background-color: yellowgreen; */

}

.hero-sec .mid h1 span {
    position: relative;
    cursor: pointer;
    font-style: italic;
}

.hero-sec .mid h1 span::before {
    content: '';
    width: 100%;
    height: .3vh;
    background: linear-gradient(360deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    font-style: italic;
    position: absolute;
    bottom: .2vw;
    border-radius: 10vw;
    transform: scaleX(1);
    transition: transform 0.3s 0.2s ease;
    transform-origin: left;
}

.hero-sec .mid h1 span:hover::before {
    transform: scaleX(0);
    transform-origin: right;
}



/* OUR MISSION */
.our-mission {
    width: 100%;
    height: auto;
    background-color: #0e100f;
    padding: 4vw 2vw;
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
}

.our-mission .our-mission-cont {
    width: 100%;
    height: 100%;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.192);
    padding-bottom: 14vh;
}

.our-mission .top-head {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-bottom: 10vw;
}

.top-head h1 {
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.our-mission .top-head .l-head {
    width: 45vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.our-mission .top-head .l-head h1 {
    margin-left: .6vw;
}

.our-mission .top-head .l-head .circle {
    width: .7vw;
    height: .7vw;
    background: linear-gradient(180deg, #FFF59D, #FFEB3B, #FFC107);
    border-radius: 50%;
    margin-bottom: .4vh;
}

.our-mission .top-head .r-head {
    width: 80vw;
    padding-right: 1vw;
}

.our-mission .top-head .r-head h1 {
    width: 100%;
    height: 100%;
    font-size: 4vw;
}


/* BLOCKES */

.our-mission .cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.our-mission .cont .left {
    width: 30%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.our-mission .cont .left img {
    width: 24vw;
    height: 60.9vh;
    object-fit: cover;
    border-radius: .4vw;
}

.our-mission .cont .right {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-mission .cont .right .r-cont {
    width: 56vw;
    height: 60.9vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.right .r-cont .top {
    display: flex;
    justify-content: space-between;
    z-index: 999;

}

.right .r-cont .block {
    width: 27.8vw;
    height: 30vh;
    background-color: #0e100f;
    border-radius: .3vw;
    cursor: pointer;
    transition: height .4s ease, width 0.4s ease;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: .1vh solid rgba(255, 255, 255, 0.178);
    position: relative;
    z-index: 999;
}

.right .r-cont .block .bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .3vw;
    z-index: 1;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.right .r-cont .block:hover .bg-img {
    opacity: .8;
}

.right .r-cont .block .bottom {
    display: flex;
    justify-content: space-between;
    align-items: end;
    z-index: 999;
    position: relative;
}


.head h1 {
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 999;
    position: relative;
    transition: all 0.7s ease-in-out;
}

.right .r-cont .block:hover .head h1 {
    -webkit-text-fill-color: white;
}

.right .r-cont .block .bottom h5 {
    font-size: .9vw;
    width: 23vw;
    color: transparent;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.right .r-cont .block:hover h5 {
    font-size: .9vw;
    width: 23vw;
    background: linear-gradient(180deg, #FFF59D, #FFEB3B, #FFC107);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

.right .r-cont .block .link {
    width: 5vh;
    height: 5Vh;
    padding: 1vh;
    border-radius: .3vw;
    background: linear-gradient(360deg, #FFF59D, #FFEB3B, #FFC107);
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .r-cont .block .bottom .link img {
    width: 100%;
    height: 100%;
    transition: all .4s ease;
    rotate: 90deg;
}

.right .r-cont .block:hover .bottom .link img {
    rotate: 0deg;
}

.right .r-cont .bottom .b3 {
    width: 56vw;
}







/* ABOUT */
.about-us {
    width: 100%;
    height: auto;
    background-color: #0e100f;
    padding: 0 2vw;
}

.about-us .about-us-cont {
    width: 100%;
    height: 100%;
    border-bottom: 0.1vh solid rgba(255, 255, 255, 0.192);
    padding-bottom: 14vh;
}

.about-us .top-head {
    width: 100%;
    display: flex;
    justify-content: start;
    padding-bottom: 10vw;
}

.top-head h1 {
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-us .top-head .l-head {
    width: 45vw;
    height: 100%;
    display: flex;
    align-items: center;
}

.about-us .top-head .l-head h1 {
    margin-left: .6vw;
}

.about-us .top-head .l-head .circle {
    width: .7vw;
    height: .7vw;
    background: linear-gradient(180deg, #FFF59D, #FFEB3B, #FFC107);
    border-radius: 50%;
    margin-bottom: .4vh;
}

.about-us .top-head .r-head {
    width: 80vw;
    padding-right: 1vw;
}

.about-us .top-head .r-head h1 {
    width: 100%;
    height: 100%;
    font-size: 4vw;
}


/* About Us Text Reveal */
.about-us-text-rev {
    width: 100%;
    height: 100%;
    padding-left: 34vw;
    cursor: context-menu;
}

.text-rev-cont {
    width: 100%;
    height: 100%;
}

.about-us-text-rev span {
    color: #1b1919;
    font-size: 2vw;
}

.about-us-text-rev span {
    color: #1b201f57;
    background-image: linear-gradient(90deg, #1b1919, #e75b38);
    background: linear-gradient(130deg, #FFF59D 0%, #FFEB3B 50%, #ffc107 100%);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: text-reveal linear forwards;
    animation-timeline: view();
}

.about-us-text-rev p span {
    animation-range-start: cover 44vh;
    animation-range-end: cover 100vh;
}

@keyframes text-reveal {
    to {
        background-size: 100% 100%;
    }
}


/* COUNT */

.count {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 20vw;
    backdrop-filter: blur(0);
}

.count-cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.count-cont .elem {
    width: 16vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.count-cont .elem img {
    width: 7vw;
    height: 7vw;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 1.2vw;
}

.count-cont .elem h4 {
    font-size: 2vw;
    background: linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.count-cont .elem h1 {
    font-size: 4vw;
}

.count-cont .elem h1 {
    background: linear-gradient(360deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}






/* FOOTER */

footer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 2vw;
    background-color: #0e100f;
    position: relative;
}

footer img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.footer-cont {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-color: #0e100f;
    padding: 3vw;
    border-radius: 1vw;
    border: .1vh solid rgba(255, 255, 255, 0.178);
}

footer .top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

footer .top .right {
    width: 30vw;
    height: 100%;
}

footer .top a h5 {
    font-size: 1.9vw;
    margin-bottom: 1vh;
    transition: all .6s ease;
}


footer .top h6 {
    font-size: 1.1vw;
    margin-top: 0.6vw;
    transition: all 1s ease;
}

footer .top .left {
    margin: 0 6.7vw 1.5vw 40vw;
}

footer a h5:hover {
    background: linear-gradient(180deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
}

footer a h6:hover {
    background: linear-gradient(180deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


footer .mid {
    width: 100%;
    height: 50vh;
    padding: 0vw 4vw;
    display: flex;
    padding: 0vw 3vw;
    position: relative;
    padding: 0 0vw;
}

footer .mid .mid-left {
    width: 16vw;
    height: 100%;
    line-height: 1.5;
    font-weight: 100;
}

footer .mid .mid-right {
    width: 16vw;
    height: 100%;
    padding-left: 1vw;
    font-weight: 100;
    margin-left: 3vw;
    line-height: 1.5;
}

footer .mid p {
    font-size: 1.1vw;
    position: relative;
    background: linear-gradient(-90deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .bottom {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: 2vw 0 0 0;
    border-top: .1vh solid rgba(255, 255, 255, 0.178);

}

footer .bottom h5 {
    font-size: 0.9vw;
}

footer .bottom h5 a:hover {
    background: linear-gradient(180deg, #FFF59D 0%, #FFEB3B 50%, #FFC107 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer .bottom h6 {
    font-size: 0.9vw;
    margin-left: 4vw;
}

footer .circle {
    position: absolute;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    bottom: -14vw;
    left: -5vw;
    filter: blur(8vw);
    z-index: 1000;
}